@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

* {
  background-color: #090f14;
}

.terminal {
  @apply w-dvw h-dvh px-3 py-1 overflow-hidden;
}

@media (max-width: 639px) {
  .terminal {
    @apply px-1 py-0;
  }
}

.xterm-viewport,
.xterm-screen {
  user-select: none;
  -webkit-user-select: none;
}
